{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <h3 class="heading text-center">Log In</h3>
                <div class="heading-underline"></div>
                <div class = "messages">
                    <p>
                    {% for message in messages %}
                    {{ message }}<br>
                    {% endfor %}
                    </p>
                </div>
                <div>
                    <label for="username">Username*</label>
                    <input type="text" name="username" placeholder="Username"><br>
                </div>
                    <label for="password">Password*</label>
                    <input type="password" name="password" placeholder="Password"><br>
                </div>
            </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Login</button>
                </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
{% endblock content %}

