{% extends "base.html" %}
{% block content %}
	<div class="content-section">
		<div class="col-12 narrow text-center">
			<h2>You have been logged out, {{ name }}</h2>
		    <div class="border-top pt-3 ">
		        <small class="text-muted">
		            <a href="{% url 'login' %}">Log In Again, {{ nama }}</a>
		        </small>
		    </div>
		</div>
	</div>		
	    
{% endblock content %}