/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
  padding: 1rem;
}

html {
	scroll-behavior: smooth;
}

/*--- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
margin-left: 0px!important;
margin-right: 0px!important;
}

/*--- Fix for Fixed Navbar jumping on scroll --*/
.fixed-top  {
 -webkit-backface-visibility: hidden;
}

body {
	overflow-x: hidden;
	font-family:  century gothic;
}

/*-- Navigation --*/
.navbar {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 540;
	font-size: 16px
	background: rgba(0, 0, 0, 0.7)!important;
}

	/*-- Logo size --*/
	.navbar-brand img {
		height: 30px;
		color: #00ccff;
	}


	.navbar-nav li {
		padding-right: 7px;
	}

	.navbar-dark .navbar-nav .nav-link {
		color: white;
		margin: 0 3px;
		padding-top: 10px;
	}

	.navbar-dark .navbar-nav .nav-link:hover,
	.navbar-dark .navbar-nav .nav-link.active {
		color: #00ccff;
	}

/*-- Starter Section --*/
.starter {
	position: relative;
	width: 100%;
	height: 100vh;
	display: table;
	z-index: -1;
}
.starter-layout {
  	clip: rect(0, auto, auto, 0);
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
}
.starter-bg {
	background-image: url(/static/assets/img/blue-smoke.jpg);
	position: fixed;
  	display: table;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background-color: blue;
  	background-size: cover;
  	background-position: center center;
  	-webkit-transform: translateZ(0);
  	        transform: translateZ(0);
  	will-change: transform;  	
}

	/*-- Caption and down toggle --*/
	.caption {
		position: absolute;
		width: 100%;
		max-width: 100%;
		top: 40%;
		text-transform: uppercase;
		text-align: left;
		color: white;
		z-index: 1;
	}

	.caption h1 { 
		font-size: 45px;
		font-weight: 700;
		text-shadow: 3px 3px 12px black;
		letter-spacing: 5px;
	}

	.caption h3 {
		font-size: 30px;
		text-shadow: 3px 3px 9px black;
		padding-bottom: 20px;
	}
	.caption a { 
		text-decoration: none;
		font-size: 50px;
		transform: scale(1);
		color: white;
		padding: 9px 19px;
		transition: 400ms;
	}

	.caption a:hover {
		color: #00ccff;
		padding: 9px 19px
	}

.jumbotron {
	margin-bottom: 0;
	padding: 70px 0 100px;
	background-color: #ccf5ff;
}

h3.heading {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 12px;
}

.heading-underline {
	width: 50px;
	height: 4px;
	background-color: #00ccff;
	margin: 0 auto 30px;
}

.jumbotron p {
	font-size: 25px;
	margin: 50px 70px;
}

.btn-secondary {
	background-color: #006680;
	font-size: 27px;
	text-transform: uppercase;
} 

#diary {
	margin: 50px 50px;
}

input, label {
    display:block;
}

.content-section {
	margin: 0 50px;
	margin-top: 50px
}

.form-group .btn{
	margin: 0 50px;
}

/*-- Findme Section --*/
footer{
	padding-top: 40px;
	background-color: #007a99;
	color: white; 
}

footer p, strong {
	font-size: 20px;
}

footer li{
	display: inline-block;
	margin: 20px;
	list-style: none;
}

footer li a{
	color: white;
	text-decoration: none;
	font-size: 60px;
	transform: scale(1);
	transition: 200ms;
}

footer li a:hover{
	color: #00ccff;
}

footer li a.active{
	color: #00ccff;
}


/*-- Media Queries --*/
@media (max-width: 576px) {

	/*-- Starter Caption --*/
	.caption h1 {
		font-size: 25px;
	}

	.caption h3 {
		font-size: 20px;
	}

	.caption a {
		font-size: 35px;
	}

	/*-- Home --*/
	#home h1 {
		font-size: 25px;
	}

	#home h3 {
		font-size: 20px;
	}

	#home img {
		width: 200px;
	}

	/*-- About Me --*/
	h3.heading, h3.heading2 {
		font-size: 20px;
	}

	.jumbotron p {
		font-size: 15px;
		margin: 30px 40px;
	}

	.btn-secondary {
		font-size: 20px;
		margin-top: 30px;
	}

	/*-- Gallery --*/
	.image img {
		width: 200px;
	}

	/*-- Skills --*/
	.fixed-background h3 {
		font-size: 20px;
	}

	.skill img {
		font-size: 90px;
	}

	/*-- Footer --*/
	footer p, strong {
		font-size: 15px;
	}
}