{% extends "base.html" %}
{% load static %}

{% block title %}Sagaz - Home{% endblock %}

{% block content %}

	<div id="addDiary">
		<div class="col-12 narrow text-center">
				<h3 class="heading">Diary Form</h3>
				<div class="heading-underline"></div>
			</div>

			<div class="kegiatan col-12 text-justify">
				<form method="POST">
					{% csrf_token %}
					<table>
						<td>
							{{ form }}
						</td>
						<td>
							<button id="submit" type="submit" class="btn btn-outline-primary float-right">Add Diary</button>
						</td>
					</table>

				</form>
			</div>
				
	</div>
{% endblock %}