{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">

    <!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/style2.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/all.css'%}">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>

	<title>{% block title %}Sagaz - Personal Website Portofolio{% endblock %}</title>
</head>
<body data-spy="scroll" data-target="#navbarToggle">
	<!--- Navigation -->
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

		<!-- Navbar Logo -->
		<a class="navbar-brand" href="#"><img src="{% static 'assets/img/Slogo.png'%}"></a>

		<!-- Menu Toggle -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      		<span class="navbar-toggler-icon"></span>
    	</button>

		<div class="menuContent navbar-collapse " id="navbarToggle">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/#diary">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/add/#addDiary">Add Diarys</a>
				</li>
				{% if user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'logout' %}">Logout</a>
				</li>
				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'login' %}">Login</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'register' %}">Register</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</nav>

	<!--- Starter Section -->
	<div class="starter">
		<div class="starter-layout">
			<div class="starter-bg">
			</div>
		</div>
	</div>

	<div class="caption text-center">
		<h1>Welcome to Ryan's</h1>
		<h3>Personal Website</h3>

		<!-- Down Toggle -->

			<a class="downToggle text-center" href="#content">
				<i class="fas fa-chevron-circle-down"></i>
			</a>
	</div>

	<div id="content">
		{% block content %}
			{% if user.is_authenticated %}
			<div class="content-section">
				<div class="col-12 narrow text-center">
					<h2>Selamat datang {{ name }},</h2>
					<h2>anda telah berhasil login</h2>
				</div>
			</div>
			{% endif %}
			<div id="diary">
				<div class="col-12 narrow text-center">
						<h3 class="heading">Diary</h3>
						<div class="heading-underline"></div>
					</div>
					<a href="/add">Add New Diary</a>
					<div class="diary_content">
						{% for kegiatan in status %}
						<div class="kegiatan col-12 narrow text-justify border-bottom pt-3">
							<p>
								<h3><strong>{{ kegiatan.title }}</strong></h3>
							</p>
							<div class="row light justify-content-center text-center">
								<div class="event col-md-8 text-left">
									<h5>{{ kegiatan.text }}</h5>
									<h6>{{ kegiatan.date_posted }}</h6>
								</div>
								<div class="event col-md-4">
									<form method="post">
								      {% csrf_token %}
								      <input type="text" name="id" value="{{ kegiatan.pk }}" style="display:none">
								      <button name="button" type="submit" class="btn btn-outline-danger float-right">Delete</button>
								    </form>
								</div>
							</div>
						</div>
							
						{% endfor %}
					</div>
				</div>
			</div>	
    	{% endblock %}
	</div>
	
	<!--- Find Me Section -->

	<div id="findMe">
		<footer>
			<div class="row contact justify-content-center">
				<div class="col-md-5 text-center">
					<h3 class="heading">Find Me</h3>
					<div class="heading-underline"></div>

					<p>
						Perform analysis to design the system architecture and database design. Implement web pages from scratch with JavaScript / HTML / CSS. The design will be provided in Photoshop / Illustrator component.
					</p>
					<strong>Contact Info</strong>
					<p>+62 85778164449<br>ryananshar34@gmail.com</p>

					<li><a href="https://www.instagram.com/ryananshar/" target="_blank"><i class="fab fa-instagram"></i></a></li>
					<li><a href="http://line.me/ti/p/~ryananshar" target="_blank"><i class="fab fa-line"></i></a></li>
					<li><a href="https://api.whatsapp.com/send?phone=6285778164449" target="_blank"><i class="fab fa-whatsapp-square"></i></a></li>
					
				</div>
					
			</div>
		</footer>
	</div>
</body>
</html>