{% extends "base.html" %}
{% load static %}

{% block title %}My Diary{% endblock %}

{% block content %}

	<div id="diary">
		<div class="col-12 narrow text-center">
				<h3 class="heading">Schedule</h3>
				<div class="heading-underline"></div>
			</div>
			<a href="/add">Add New Diary</a>
			<div class="diary_content">
				{% for kegiatan in status %}
				<div class="kegiatan col-12 narrow text-justify">
					<p>
						<strong>{{ kegiatan.title }}</strong>
					</p>
					<div class="row light justify-content-center text-center">
						<div class="event col-md-8 text-left">
							<h5>{{ kegiatan.text }}</h5>
							<h6>{{ kegiatan.date_posted }}</h6>
						</div>
						<div class="event col-md-4">
							<form method="post">
						      {% csrf_token %}
						      <input type="text" name="id" value="{{ kegiatan.pk }}" style="display:none">
						      <button name="button" type="submit" class="btn btn-outline-danger float-right">Delete</button>
						    </form>
						</div>
					</div>
				</div>
					
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}